parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		featureToggles:
			disableRuntimeReflectionProvider: true
		stubFiles:
			# Simulate added properties
		scanDirectories:
			- ../../../../../../gsc-next/htdocs/web/app/plugins
			- ../../plugins
		bootstrapFiles:
			- thegsc.php
		paths:
			- thegsc.php
			- src/
